<div ng-controller="LogoutController">
    <h1>Logout</h1>
        <div class="form-group">
            <label for="user" class="col-sm-2 control-label">User</label>
            <div class="div col-sm-10">
                <input type="text" name="user" ng-model="model.user" required class="form-control">
            </div>
            <div class="text-danger" ng-show="loginForm.user.$dirty && loginForm.user.$error.required">
                The user name is required
            </div>
        </div>
         <div class="form-group">
            <label for="password" class="col-sm-2 control-label">Password</label>
            <div class="div col-sm-10">
                <input type="password" name="password" ng-model="model.password" required class="form-control">
            </div>
            <div class="text-danger" ng-show="loginForm.password.$dirty && loginForm.password.$error.required">
                The password is required
            </div>
        </div>
        <div>
            <button class="btn btn-primary pull-right" type="submit" ng-disabled="movieForm.$invalid">Logout</button>
        </div>
</div>