<div class="container" ng-controller="MoviesListController">
    <h1>Movies List</h1>
    <div class="alert alert-danger" ng-show="uiState=='error'">
        Error while loading data
    </div>
    <div class="jumbotron" ng-show="uiState=='blank'">
        <p class="lead">There is no movies!</p>
    </div>
    <div ng-include="views/ProgressBar.html" ng-show="uiState=='loading'"></div>
    <div class="row">
        <movie-item-list model="model" ng-show="uiState=='ideal'"></movie-item-list>
    </div>
</div>
