<div class="container" ng-controller="MoviesListController">
    <h1>My Rented Movies List</h1>
    <div class="alert alert-danger" ng-show="uiState=='error'">
        Error while loading data
    </div>
    <div class="jumbotron" ng-show="uiState=='blank'">
        <p class="lead">There is no movies!</p>
    </div>
    <div ng-include="views/ProgressBar.html" ng-show="uiState=='loading'"></div>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6" ng-repeat="data in model" ng-if="isTheUser(data.rent_user) == true">
            <div class="thumbnail">
                <ng-img src="{{::trustSrc(data.poster_url)}}" alt="">
                <div class="caption">
                    <h4 class="text-center">{{::data.title}}</h4>
                    <p>
                        {{::data.overview}}
                    </p>
                    <p class="text-right">
                        <button class="btn btn-success">Watch it!</button>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
